################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/MusicPlayerApp/bin/Debug/Interop.WMPLib.dll
/MusicPlayerApp/bin/Debug/MusicPlayerApp.exe
/MusicPlayerApp/bin/Debug/MusicPlayerApp.pdb
/MusicPlayerApp/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/MusicPlayerApp/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MusicPlayerApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MusicPlayerApp/obj/Debug/Interop.WMPLib.dll
/MusicPlayerApp/obj/Debug/MusicPlayerApp.csproj.AssemblyReference.cache
/MusicPlayerApp/obj/Debug/MusicPlayerApp.csproj.CoreCompileInputs.cache
/MusicPlayerApp/obj/Debug/MusicPlayerApp.csproj.FileListAbsolute.txt
/MusicPlayerApp/obj/Debug/MusicPlayerApp.csproj.GenerateResource.Cache
/MusicPlayerApp/obj/Debug/MusicPlayerApp.csproj.ResolveComReference.cache
/MusicPlayerApp/obj/Debug/MusicPlayerApp.exe
/MusicPlayerApp/obj/Debug/MusicPlayerApp.MusicPlayerApp.resources
/MusicPlayerApp/obj/Debug/MusicPlayerApp.pdb
